<!-- ****** Popular Brands Area Start ****** -->
<section class="karl-testimonials-area section_padding_100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section_heading text-center">
          <h2>Testimonials</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="karl-testimonials-slides owl-carousel">
          {% for testimony in site.data.testimonials %}
            <!-- Single Testimonial Area Start -->
            <div class="single-testimonial-area text-center">
              <span class="quote">"</span>
              <h6>{{testimony.text}}</h6>
              <div
                class="testimonial-info d-flex align-items-center justify-content-center"
              >
                <div class="tes-thumbnail">
                  <img src="{{ testimony.avatar | relative_url }}" alt="">
                </div>
                <div class="testi-data">
                  <p>{{testimony.name}}</p>
                  <span>{{testimony.role}}, {{testimony.city}}</span>
                </div>
              </div>
            </div>
            <!-- Single Testimonial Area End -->
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ****** Popular Brands Area End ****** -->
