<!-- ****** Quick View Modal Area Start ****** -->
<div
  class="modal fade"
  id="quickview-{{include.product.id}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="quickview"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="close btn"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="quickview_body">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-5">
                <div class="quickview_pro_img">
                  <img src="{{ include.product.image | relative_url }}" alt="">
                </div>
              </div>
              <div class="col-12 col-lg-7">
                <div class="quickview_pro_des">
                  <h4 class="title">{{include.product.name}}</h4>
                  <div class="top_seller_product_rating mb-15">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <h5 class="price">
                    {{site.currency}}{{include.product.price | minus: include.product.discount}}
                    {% if include.product.discount > 0 %}
                      <span>{{site.currency}}{{include.product.price}}</span>
                    {% endif %}
                  </h5>
                  <p>
                    {{include.product.description}}
                  </p>
                  <a href="{{include.product.href}}">
                    View Full Product Details
                  </a>
                </div>
                <!-- Add to Cart Form -->
                <form class="cart" method="post">
                  {% if include.product.availableQuantity > 0 %}
                    <div class="quantity">
                      <span class="qty-minus" onclick="decreaseQuantity()">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                      </span>
                      <input
                        type="number"
                        class="qty-text"
                        id="qty"
                        step="1"
                        min="1"
                        max="{{include.product.availableQuantity}}"
                        name="quantity"
                        value="1"
                      >
                      <span class="qty-plus" onclick="increaseQuantity()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </span>
                    </div>
                    <button
                      type="submit"
                      name="addtocart"
                      value="5"
                      class="cart-submit"
                    >
                      Add to cart
                    </button>
                  {% endif %}
                  <!-- Wishlist -->
                  <div class="modal_pro_wishlist">
                    <a href="#"><i class="ti-heart"></i></a>
                  </div>
                  <!-- Compare -->
                  <div class="modal_pro_compare">
                    <a href="#"><i class="ti-stats-up"></i></a>
                  </div>
                </form>
                <div class="share_wf mt-30">
                  <p>Share With Friends</p>
                  <div class="_icon">
                    {% for network in site.social %}
                      <a href="{{network.url}}">
                        <i class="fa fa-{{network.icon}}" aria-hidden="true">
                        </i>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ****** Quick View Modal Area End ****** -->
